.card {
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  padding: 20px;
  background-color: #f9fafb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 640px;
}

.sectionContent h2 {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

.sectionContent span {
  font-size: 14px;
  background-color: #6b7280;
  color: #fafafa;
  font-weight: 500;
  padding:4px 12px;
  border-radius: 12px;
  text-transform: capitalize;
}

.labelValue p:nth-child(1){
  font-size: 13px;
  color: #6b7280;
}

.labelValue p:nth-child(1){
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}